.LoginForm {
    display: flex;
    flex-direction: column;

    > .MessageBox {
        margin-bottom: 32px;
    }

    > form {
        display: flex;
        flex-direction: column;

        > .InputWithLabel {
            margin-bottom: 16px;
        }

        > .Button {
            margin-top: 16px;
        }
    }
}
