.PublicRecipe {
    max-width: $container-width;
    margin: 64px auto;

    > .Breadcrumbs {
        margin-bottom: 32px;
    }

    > .DisplayRecipe {
        margin-bottom: 64px;
    }

    > .body {
        display: flex;
        > .ingredients {
            display: flex;
            flex-direction: column;

            > h2 {
                font-size: 24px;
                color: $green-dark;
                margin-bottom: 16px;
            }

            > ul {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background: white;
                margin-right: 64px;
                box-shadow: 0 4px 8px 0 rgba(52, 52, 52, 0.15);
                width: 500px;
                flex-shrink: 0;
                border: 1px solid $grey-lightest;
                > li {
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                    border-bottom: 1px solid $grey-lightest;
                    font-size: 14px;

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }
        > .method {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            > h2 {
                font-size: 24px;
                color: $green-dark;
                margin-bottom: 16px;
            }

            > ul {
                display: flex;
                flex-direction: column;

                > li {
                    display: flex;
                    margin-bottom: 32px;
                    font-size: 18px;
                    line-height: 1.75;

                    > .CircledNumber {
                        margin-top: 6px;
                        margin-right: 16px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}
