$green-light: #E3EFC7;
$green-mid: #8FBC8F;
$green-dark: #476B2D;

$grey-dark: #1A202C;
$grey-mid: #425466;
$grey-light: #cccccc;
$grey-lightest: #E8E8E8;

$alert: #CC3333;
$alert-background: #FAECED;
