// Variables
@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: Segoe UI,sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 1.6rem;
    line-height: 1.5;
    background: #fbfbfd;
    color: $grey-dark;
}

#app {
    padding-top: 80px;
}

// Responsive mixin template

@mixin medium {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

// Eventually we'll replace this with a standard normaliser, but for the time being we'll keep it simple
// and just edit things as we go

a {
    text-decoration: none;
    color: $grey-dark;
}

ul {
    list-style: none;
}

button {
    display: block;
    background: inherit;
    border: none;
}

@import 'components/index';

@import 'pages/homepage';
@import 'pages/login';
//@import 'old/page/ingredients';
//@import 'old/page/meals';

body {
    max-width: 600px;
    margin: 0 auto;
}

.IngredientsAdmin {
    padding: 21px 21px;

    > .ItemCreator {
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid $grey-lightest;
    }

    > .location {
        margin-bottom: 32px;

        > h2 {
            font-size: 20px;
            color: $green-dark;
            margin-bottom: 12px;
        }

        > .ingredient {
            display: flex;
            margin-bottom: 12px;
            align-items: center;

            > svg {
                height: 25px;
                width: 25px;
                fill: $green-dark;
                margin-left: 12px;

                &:last-child {
                    fill: $alert;
                }
            }

            > .field {
                flex-grow: 1;
                border-bottom: 1px solid $grey-light;
                display: flex;
                align-items: center;
                > input {
                    flex-grow: 1;
                    border: none;
                    padding: 12px 0;
                    display: block;
                }
                > .active {
                    margin-right: 12px;
                }
            }

        }
    }

}

.PlanCreator {

    > .stage {
        > h2 {
            height: 50px;
            display: flex;
            align-items: center;
            color: $green-dark;
            font-weight: 400;

            > .number {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: $green-mid;
                text-align: center;
                line-height: 40px;
                font-size: 22px;
                font-weight: 400;
                margin-right: 16px;
            }
        }
    }

}

