.Footer {
    border-top: 1px solid $grey-lightest;
    padding: 32px 16px;
    color: $green-dark;
    font-weight: 700;

    @include lg() {
        padding: 32px 0px;
    }

    > .container {
        @include lg() {
            padding: 0 32px;
        }
    }
}
