.PageContent {
    padding: 28px 21px;
    min-height: 370px;

    @include md() {
        padding: 28px 24px;
        min-height: 570px;
    }

    @include lg() {
        padding: 0;
        min-height: 750px;
    }

    > .hero {
        background-size: 0 0;

        @include lg() {
            height: 450px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
        }

        > .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            @include lg() {
                padding: 0 32px;
            }

            > h1 {
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 4px;
                color: $green-dark;

                @include md() {
                    font-size: 30px;
                }

                @include lg() {
                    font-size: 50px;
                    font-style: italic;
                }
            }

            > .heading-tag {
                font-size: 15px;
                color: $grey-mid;
                line-height: 1.25;
                margin-bottom: 32px;
                border-bottom: 1px solid $grey-lightest;
                padding-bottom: 32px;

                @include md() {
                    font-size: 16px;
                    border-bottom-width: 2px;
                }

                @include lg() {
                    border-bottom: 0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    font-size: 20px;
                    font-weight: 500;
                    color: $grey-dark;
                }
            }
        }
    }

    > .container {

        @include lg() {
            padding: 0 32px;
        }

        > .content {

            @include lg() {
                max-width: 768px;
                margin-top: 32px;
            }

            > p {
                margin-bottom: 16px;
                line-height: 1.6;
                color: $grey-mid;
                font-size: 15px;

                > .highlighted {
                    color: $green-dark;
                    font-weight: 700;
                }

                @include md() {
                    font-size: 16px;
                }

                @include lg() {
                    font-size: 18px;
                }
            }
        }

    }

    &.is-narrow {
        max-width: 380px;
        margin: 0 auto;
    }
}
