.PrimaryNav {

    > .bar {
        background: white;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);

        @include md() {
            justify-content: flex-start;
        }

        > .hamburger {
            position: absolute;
            top: 30px;
            left: 30px;
            height: 20px;
            width: 20px;
            fill: green;
            stroke: $green-dark;

            @include md() {
                display: none;
            }
        }

        > .logo {
            height: 65px;

            margin-left: 16px;

            > img {
                height: 100%;
            }
        }

        > .links {
            display: none;

            @include md() {
                display: flex;
                height: 100%;
                align-items: center;
                flex-grow: 1;

                > li {
                    margin-left: 24px;
                }

                > .admin {
                    position: relative;

                    > .toggle {
                        display: flex;
                        align-items: center;
                        > svg {
                            margin-left: 8px;
                            height: 20px;
                            width: 20px;
                        }
                    }

                    > ul {
                        display: none;
                        position: absolute;
                        background: white;
                        top: 100%;
                        left: 10px;
                        box-shadow: 0 2px 4px 0 rgba(52,52,52,0.15);
                        width: 150px;

                        > li {
                            padding: 12px;
                            border-bottom: 1px solid $grey-lightest;
                        }

                        &.is-enabled {
                            display: block;
                        }
                    }
                }
            }

        }

        > .Button, form {
            display: none;

            @include md() {
                display: block;
                margin-right: 16px;
            }
        }
    }

    > .mobile {
        position: fixed;
        z-index: 1;
        top: 0;
        left: -251px;
        background: white;
        width: 250px;
        height: 100vh;
        border-right: 1px solid $grey-lightest;
        transition: 0.3s ease-in-out all;

        &.is-active {
            left: 0;
        }

        > .header {
            padding: 16px 16px 0 16px;
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            > .top {
                display: flex;
                margin-bottom: 40px;
                align-items: center;

                > .Button, form {
                    width: 80%;
                }

                > svg {
                    width: 20px;
                    height: 20px;
                    fill: $green-dark;
                    margin-left: 16px;
                }

                > form {
                    > input {
                        width: 80%;
                    }
                }
            }

            > .sign-up {
                width: 80%;
                margin-bottom: 24px;
            }

            > .options {
                > li {
                    display: flex;
                    margin-bottom: 26px;
                    align-items: center;

                    > svg {
                        height: 25px;
                        width: 25px;
                        margin-right: 12px;
                        fill: $green-dark;
                    }

                    > a {
                        margin-left: 10px;
                        font-size: 16px;
                        color: $grey-dark;
                    }
                }
            }
        }

        > .footer {
            padding: 16px;
            border-top: 1px solid $grey-lightest;
            border-bottom: 1px solid $grey-lightest;

            > a {
                color: $grey-dark;
            }
        }
    }
}
