* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: Segoe UI, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #fbfbfd;
  color: #1A202C;
}

#app {
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: #1A202C;
}

ul {
  list-style: none;
}

button {
  display: block;
  background: inherit;
  border: none;
}

.Button {
  border: 1px solid #22543D;
  background-color: #9AE6B4;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  color: #22543D;
  text-align: center;
  padding: 0 24px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.3px;
  position: relative;
}

.Button.is-primary {
  background: #22543D;
  color: white;
}

.Button.is-secondary {
  background: white;
}

.Button.has-shadow {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Button.is-disabled {
  opacity: 0.6;
  cursor: default;
}

.Button.is-small {
  font-size: 14px;
  padding: 4px 16px;
  height: 32px;
  line-height: 24px;
}

.Button.is-alert {
  background: #FAECED;
  color: #CC3333;
  border: 1px solid #CC3333;
}

.Button.is-active {
  font-size: 0;
}

.Button.is-active::after {
  font-size: 18px;
  content: "...";
}

.Input {
  padding: 0 8px;
  height: 40px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.Input.is-error {
  border-color: #CC3333;
  margin-bottom: 4px;
}

.Input.is-flat {
  border-radius: 0;
}

.InputWithLabel {
  display: flex;
  flex-direction: column;
}

.InputWithLabel > label {
  font-weight: 500;
}

.InputWithLabel > .error {
  color: #CC3333;
  font-size: 14px;
}

.Select {
  padding: 0 20px 0 4px;
  height: 40px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: white;
}

.Select.is-error {
  border-color: #CC3333;
  margin-bottom: 4px;
}

.MessageBox {
  font-size: 14px;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.MessageBox > a {
  text-decoration: underline;
  font-weight: 500;
}

.MessageBox.is-error {
  color: #CC3333;
  background: #FAECED;
}

.MessageBox.is-error > a {
  color: #CC3333;
}

.MessageBox.is-success {
  color: #22543D;
  background: #9AE6B4;
}

.MessageBox.is-success > a {
  color: #22543D;
}

.AdminContent {
  padding: 28px 0;
}

.AdminContent > .header {
  padding: 0 21px 32px 21px;
  position: relative;
}

.AdminContent > .header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.AdminContent > .header > h1 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #22543D;
}

.AdminContent > .header .heading-tag {
  font-size: 15px;
  color: #425466;
  line-height: 1.25;
}

.AdminLinkSet {
  background: white;
  padding: 16px 0;
  height: 350px;
}

.AdminLinkSet > li {
  padding-left: 21px;
}

.AdminLinkSet > li > a {
  display: flex;
  align-items: center;
}

.AdminLinkSet > li > a > svg {
  height: 25px;
  width: 25px;
  fill: #22543D;
}

.AdminLinkSet > li > a > .text {
  display: block;
  width: 100%;
  margin-left: 21px;
  border-bottom: 1px solid #E8E8E8;
  padding: 10px 0;
}

.ItemCreator .header {
  display: flex;
  font-size: 18px;
  align-items: center;
  font-weight: 500;
  color: #22543D;
  width: 100%;
}

.ItemCreator .header > svg {
  height: 30px;
  width: 30px;
  fill: #22543D;
  margin-right: 12px;
}

.ItemCreator > .body {
  padding: 16px 0;
  display: none;
  flex-direction: column;
}

.ItemCreator > .body > .InputWithLabel {
  margin-bottom: 8px;
}

.ItemCreator > .body > .MessageBox {
  margin-top: 8px;
}

.ItemCreator > .body > .Button {
  margin-top: 16px;
  align-self: flex-end;
}

.ItemCreator.is-expanded > .body {
  display: flex;
}

.Footer {
  border-top: 1px solid #cccccc;
  padding: 32px 16px 64px 16px;
  color: #22543D;
  font-weight: 700;
}

.PageContent {
  padding: 28px 21px;
}

.PageContent > h1 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #22543D;
}

.PageContent > .heading-tag {
  font-size: 15px;
  color: #425466;
  line-height: 1.25;
  margin-bottom: 32px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 32px;
}

.PageContent > .content > p {
  margin-bottom: 16px;
  line-height: 1.6;
  color: #425466;
  font-size: 15px;
}

.PageContent > .content > p > .highlighted {
  color: #22543D;
  font-weight: 700;
}

.PrimaryNav > .bar {
  background: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.PrimaryNav > .bar > .hamburger {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 20px;
  width: 20px;
  fill: green;
  stroke: #22543D;
}

.PrimaryNav > .bar > .logo {
  height: 65px;
}

.PrimaryNav > .bar > .logo > img {
  height: 100%;
}

.PrimaryNav > .mobile {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -251px;
  background: white;
  width: 250px;
  height: 100vh;
  border-right: 1px solid #E8E8E8;
  transition: 0.3s ease-in-out all;
}

.PrimaryNav > .mobile.is-active {
  left: 0;
}

.PrimaryNav > .mobile > .header {
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.PrimaryNav > .mobile > .header > .top {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.PrimaryNav > .mobile > .header > .top > .Button,
.PrimaryNav > .mobile > .header > .top form {
  width: 80%;
}

.PrimaryNav > .mobile > .header > .top > svg {
  width: 20px;
  height: 20px;
  fill: #22543D;
  margin-left: 16px;
}

.PrimaryNav > .mobile > .header > .top > form > input {
  width: 80%;
}

.PrimaryNav > .mobile > .header > .sign-up {
  width: 80%;
  margin-bottom: 24px;
}

.PrimaryNav > .mobile > .header > .options > li {
  display: flex;
  margin-bottom: 26px;
  align-items: center;
}

.PrimaryNav > .mobile > .header > .options > li > svg {
  height: 25px;
  width: 25px;
  margin-right: 12px;
  fill: #22543D;
}

.PrimaryNav > .mobile > .header > .options > li > a {
  margin-left: 10px;
  font-size: 16px;
  color: #1A202C;
}

.PrimaryNav > .mobile > .footer {
  padding: 16px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.PrimaryNav > .mobile > .footer > a {
  color: #1A202C;
}

.Hero {
  padding: 60px 16px 0 16px;
  position: relative;
  height: 450px;
}

.Hero > .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/home-hero.jpg");
  background-size: 100% auto;
  opacity: 0.15;
}

.Hero > .body {
  position: relative;
}

.Hero > .body > h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 48px;
  line-height: 1.2;
  text-align: center;
  color: #1A202C;
}

.Hero > .body > p {
  text-align: center;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 40px;
  color: #425466;
}

.Hero > .body > .buttons {
  display: flex;
  justify-content: center;
}

.Hero > .body > .buttons > .Button {
  margin-right: 16px;
}

.Hero > .body > .buttons > .Button:last-child {
  margin-right: 0;
}

.FeatureBoxes {
  padding: 0 16px;
}

.FeatureBoxes > .box {
  margin-bottom: 64px;
}

.FeatureBoxes > .box > svg {
  height: 33px;
  width: 33px;
  margin-bottom: 24px;
  fill: #22543D;
}

.FeatureBoxes > .box > h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #1A202C;
  font-weight: 500;
}

.FeatureBoxes > .box > p {
  font-size: 16px;
  line-height: 1.25;
  color: #425466;
}

.FeatureBoxes > .box:first-child {
  padding-top: 64px;
  border-top: 1px dashed #22543D;
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm > h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #22543D;
}

.LoginForm > .MessageBox {
  margin-bottom: 32px;
}

.LoginForm > form {
  display: flex;
  flex-direction: column;
}

.LoginForm > form > label {
  font-weight: 500;
}

.LoginForm > form > .Input {
  margin-bottom: 16px;
}

.LoginForm > form > .Input.is-error {
  margin-bottom: 4px;
}

.LoginForm > form > .error {
  color: #CC3333;
  font-size: 14px;
  margin-bottom: 16px;
}

.LoginForm > form > .Button {
  margin-top: 16px;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

.IngredientsAdmin {
  padding: 21px 21px;
}

.IngredientsAdmin > .ItemCreator {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}

.IngredientsAdmin > .location {
  margin-bottom: 32px;
}

.IngredientsAdmin > .location > h2 {
  font-size: 20px;
  color: #22543D;
  margin-bottom: 12px;
}

.IngredientsAdmin > .location > .ingredient {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.IngredientsAdmin > .location > .ingredient > svg {
  height: 25px;
  width: 25px;
  fill: #22543D;
  margin-left: 12px;
}

.IngredientsAdmin > .location > .ingredient > svg:last-child {
  fill: #CC3333;
}

.IngredientsAdmin > .location > .ingredient > .field {
  flex-grow: 1;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

.IngredientsAdmin > .location > .ingredient > .field > input {
  flex-grow: 1;
  border: none;
  padding: 12px 0;
  display: block;
}

.IngredientsAdmin > .location > .ingredient > .field > .active {
  margin-right: 12px;
}

.PlanCreator > .stage > h2 {
  height: 50px;
  display: flex;
  align-items: center;
  color: #22543D;
  font-weight: 400;
}

.PlanCreator > .stage > h2 > .number {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #38A169;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  font-weight: 400;
  margin-right: 16px;
}

