* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: Segoe UI, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #fbfbfd;
  color: #1A202C;
}

#app {
  padding-top: 80px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Button {
  border: 1px solid #476B2D;
  background-color: #E3EFC7;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  color: #476B2D;
  text-align: center;
  padding: 0 24px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: -0.3px;
  position: relative;
}

.Button.is-primary {
  background: #476B2D;
  color: white;
}

.Button.is-secondary {
  background: white;
}

.Button.has-shadow {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.Button.is-disabled {
  opacity: 0.6;
  cursor: default;
}

.Button.is-small {
  font-size: 14px;
  padding: 4px 16px;
  height: 32px;
  line-height: 24px;
}

.Button.is-alert {
  background: #FAECED;
  color: #CC3333;
  border: 1px solid #CC3333;
}

.Button.is-active {
  font-size: 0;
}

.Button.is-active::after {
  font-size: 18px;
  content: "...";
}

.ButtonIcon {
  border: 1px solid #476B2D;
  background-color: #E3EFC7;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.ButtonIcon > svg {
  height: 100%;
  width: 100%;
  fill: #476B2D;
}

.PrimaryNav > .bar {
  background: white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.PrimaryNav > .bar > .hamburger {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 20px;
  width: 20px;
  fill: green;
  stroke: green;
}

.PrimaryNav > .bar > .logo > img {
  height: 60px;
}

.PrimaryNav > .mobile {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -251px;
  background: white;
  width: 250px;
  height: 100vh;
  border-right: 1px solid #E8E8E8;
  transition: 0.3s ease-in-out all;
}

.PrimaryNav > .mobile.is-active {
  left: 0;
}

.PrimaryNav > .mobile > .header {
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.PrimaryNav > .mobile > .header > .top {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.PrimaryNav > .mobile > .header > .top > .Button,
.PrimaryNav > .mobile > .header > .top form {
  flex-grow: 1;
}

.PrimaryNav > .mobile > .header > .top > svg {
  width: 20px;
  height: 20px;
  fill: #476B2D;
  margin-left: 16px;
}

.PrimaryNav > .mobile > .header > .top > form > input {
  width: 100%;
}

.PrimaryNav > .mobile > .header > .options > li {
  display: flex;
  margin-bottom: 26px;
}

.PrimaryNav > .mobile > .header > .options > li > img {
  height: 20px;
}

.PrimaryNav > .mobile > .header > .options > li > a {
  margin-left: 10px;
  font-size: 16px;
}

.PrimaryNav > .mobile > .footer {
  padding: 16px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.Footer {
  border-top: 1px solid #cccccc;
  padding: 32px 16px 64px 16px;
  color: #476B2D;
  font-weight: 700;
}

.PageContent {
  padding: 40px 16px;
}

.PageContent > svg {
  fill: #8FBC8F;
  height: 50px;
  width: 50px;
  margin: 0 auto 32px auto;
  display: block;
}

.PageContent > h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
  text-align: center;
  color: #476B2D;
}

.PageContent > p {
  margin-bottom: 16px;
  line-height: 1.6;
  color: #425466;
}

.PageContent > p > .highlighted {
  color: #476B2D;
  font-weight: 700;
}

.AdminSection {
  padding: 32px 16px;
}

.AdminSection > h1 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #476B2D;
  display: flex;
  align-items: center;
}

.AdminSection > h1 > a {
  margin-left: 16px;
  height: 16px;
  width: 16px;
  display: flex;
}

.AdminSection > h1 > a > svg {
  height: 100%;
  width: 100%;
  fill: #476B2D;
}

.MessageBox {
  font-size: 14px;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.MessageBox > a {
  text-decoration: underline;
  font-weight: 500;
}

.MessageBox.is-error {
  color: #CC3333;
  background: #FAECED;
}

.MessageBox.is-error > a {
  color: #CC3333;
}

.MessageBox.is-success {
  color: #476B2D;
  background: #E3EFC7;
}

.MessageBox.is-success > a {
  color: #476B2D;
}

.Input {
  padding: 0 8px;
  height: 40px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.Input.is-error {
  border-color: #CC3333;
  margin-bottom: 4px;
}

.Input.is-flat {
  border-radius: 0;
}

.Select {
  padding: 0 20px 0 4px;
  height: 40px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: white;
}

.Select.is-error {
  border-color: #CC3333;
  margin-bottom: 4px;
}

.TextArea {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  min-height: 250px;
}

.InputWithLabel {
  display: flex;
  flex-direction: column;
}

.InputWithLabel > label {
  font-weight: 500;
}

.InputWithLabel > .error {
  color: #CC3333;
  font-size: 14px;
}

.AdminLink {
  background: white;
  border: 1px solid #cccccc;
  padding: 12px 16px;
  font-size: 14px;
  color: #476B2D;
  font-weight: 500;
  display: block;
}

.AdminPanel {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #cccccc;
}

.AdminPanel > .header {
  padding: 12px 16px;
  font-size: 14px;
  position: relative;
  font-weight: 500;
}

.AdminPanel > .header > span {
  color: #476B2D;
}

.AdminPanel > .header > svg {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 12px;
  right: 16px;
  fill: #476B2D;
}

.AdminPanel > .header.is-error {
  background: #FAECED;
}

.AdminPanel > .body {
  display: none;
  padding: 16px;
}

.AdminPanel.is-expanded > .header {
  border-bottom: 1px solid #E8E8E8;
}

.AdminPanel.is-expanded > .header > svg:first-of-type {
  display: none;
}

.AdminPanel.is-expanded > .header > svg:last-child {
  display: block;
}

.AdminPanel.is-expanded > .body {
  display: block;
  font-size: 14px;
}

.Hero {
  padding: 100px 16px 0 16px;
  margin-bottom: 300px;
  position: relative;
}

.Hero > h1 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 32px;
}

.Hero > h1 > .highlighted {
  color: #476B2D;
  font-style: italic;
}

.Hero > .icons {
  display: flex;
  margin-bottom: 32px;
}

.Hero > .icons > svg {
  fill: #8FBC8F;
  overflow: visible;
  height: 50px;
  width: 50px;
  margin-right: 24px;
}

.Hero > .buttons {
  display: flex;
}

.Hero > .buttons > .Button {
  margin-right: 16px;
}

.Stripes {
  height: 580px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f6f9fc;
  transform: skewY(-12deg);
}

.Stripes > .stripe-one {
  position: absolute;
  bottom: 120px;
  right: 0;
  width: 50px;
  height: 40px;
  background: #E3EFC7;
}

.Stripes > .stripe-two {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 100px;
  height: 40px;
  background: #476B2D;
}

.Stripes > .stripe-three {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  height: 40px;
  background: #8FBC8F;
}

.Stripes > .stripe-four {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 150px;
  height: 40px;
  background: #E3EFC7;
}

.Stripes > .stripe-five {
  position: absolute;
  bottom: -80px;
  right: 0;
  width: 75px;
  height: 40px;
  background: #8FBC8F;
}

.Stripes > .stripe-six {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75px;
  height: 40px;
  background: #8FBC8F;
}

.FeatureBoxes {
  padding: 0 16px;
}

.FeatureBoxes > .box {
  margin-bottom: 64px;
}

.FeatureBoxes > .box > svg {
  height: 48px;
  width: 48px;
  margin-bottom: 16px;
  fill: #476B2D;
}

.FeatureBoxes > .box > h2 {
  font-size: 19px;
  margin-bottom: 16px;
  color: #1A202C;
  font-weight: 500;
}

.FeatureBoxes > .box > p {
  font-size: 17px;
  line-height: 1.6;
  color: #425466;
}

.LoginForm {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
}

.LoginForm > h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #476B2D;
}

.LoginForm > .ErrorBox {
  margin-bottom: 32px;
}

.LoginForm > form {
  display: flex;
  flex-direction: column;
}

.LoginForm > form > label {
  font-weight: 500;
}

.LoginForm > form > .Input {
  margin-bottom: 16px;
}

.LoginForm > form > .Input.is-error {
  margin-bottom: 4px;
}

.LoginForm > form > .error {
  color: #CC3333;
  font-size: 14px;
  margin-bottom: 16px;
}

.LoginForm > form > .Button {
  margin-top: 16px;
}

.IngredientCreator {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #cccccc;
  margin-bottom: 32px;
}

.IngredientCreator > .header {
  padding: 12px 16px;
  font-size: 14px;
  position: relative;
  color: #476B2D;
  font-weight: 500;
}

.IngredientCreator > .header > svg {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 12px;
  right: 16px;
  fill: #476B2D;
}

.IngredientCreator > .footer {
  display: none;
  padding: 16px 16px;
  flex-direction: column;
}

.IngredientCreator > .footer > .InputWithLabel {
  margin-bottom: 16px;
}

.IngredientCreator > .footer > .InputWithLabel:last-of-type {
  margin-bottom: 24px;
}

.IngredientCreator > .footer > .InputWithLabel > label {
  font-size: 14px;
}

.IngredientCreator > .footer > .MessageBox {
  margin-bottom: 16px;
}

.IngredientCreator > .footer > .Button {
  align-self: flex-end;
}

.IngredientCreator.is-expanded > .header {
  border-bottom: 1px solid #E8E8E8;
}

.IngredientCreator.is-expanded > .footer {
  display: flex;
}

.IngredientsAdmin > .ingredients {
  border: 1px solid #cccccc;
}

.IngredientEditor {
  font-size: 14px;
  font-weight: 500;
  background: white;
}

.IngredientEditor:nth-child(2n+1) {
  background: #E3EFC7;
  color: #476B2D;
}

.IngredientEditor > .header {
  position: relative;
  padding: 12px 16px;
}

.IngredientEditor > .header > svg {
  height: 21px;
  width: 21px;
  position: absolute;
  top: 12px;
  right: 16px;
}

.IngredientEditor > .footer {
  padding: 16px;
  display: none;
  background: white;
  border-bottom: 1px solid #cccccc;
}

.IngredientEditor > .footer > .footer-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.IngredientEditor > .footer > .footer-row > .label {
  width: 45%;
}

.IngredientEditor > .footer > .footer-row > .Input,
.IngredientEditor > .footer > .footer-row .Select {
  width: 55%;
}

.IngredientEditor > .footer > .footer-row > .error {
  width: 100%;
  color: #CC3333;
  margin-top: 4px;
  text-align: right;
  font-size: 12px;
}

.IngredientEditor > .footer > .buttons {
  display: flex;
  margin-top: 16px;
}

.IngredientEditor > .footer > .buttons > .Button {
  margin-right: 16px;
}

.IngredientEditor.is-expanded > .header {
  border-bottom: 1px solid #cccccc;
}

.IngredientEditor.is-expanded > .footer {
  display: block;
}

.MealsAdmin > .MessageBox {
  margin-bottom: 32px;
}

.MealsAdmin > .AdminLink {
  margin-bottom: 32px;
}

.MealsAdmin .meals {
  border: 1px solid #cccccc;
}

.MealsAdmin .meals > .AdminLink {
  border: 0;
  border-bottom: 1px solid #cccccc;
}

.MealsAdmin .meals > .AdminLink:last-child {
  border-bottom: 0;
}

.MealEditor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.MealEditor .AdminPanel {
  margin-bottom: 16px;
  width: 100%;
}

.MealEditor .AdminPanel:last-child {
  margin-bottom: 0;
}

.MealEditor > .buttons {
  display: flex;
}

.MealEditor > .buttons > .Button:last-child {
  margin-left: 16px;
}

.MealDetails > .InputWithLabel {
  margin-bottom: 16px;
}

.MealDetails > .InputWithLabel:last-child {
  margin-bottom: 0;
}

.IngredientsEditor > .search {
  position: relative;
  overflow: visible;
  margin-bottom: 16px;
}

.IngredientsEditor > .search > .results {
  position: absolute;
  bottom: 0;
  top: 100%;
  background: white;
  min-height: 116px;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid #cccccc;
  z-index: 1;
}

.IngredientsEditor > .search > .results > ul > li {
  padding: 8px;
  border-bottom: 1px solid #E8E8E8;
  color: #476B2D;
  display: flex;
  align-items: center;
}

.IngredientsEditor > .search > .results > ul > li > span {
  flex-grow: 1;
}

.IngredientsEditor > .search > .results > ul > li > svg {
  height: 21px;
  width: 21px;
}

.IngredientsEditor > ul {
  border: 1px solid #cccccc;
}

.IngredientsEditor > ul > li {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px;
}

.IngredientsEditor > ul > li > .name {
  flex-grow: 1;
  font-size: 14px;
}

.IngredientsEditor > ul > li > .toggle {
  margin-right: 16px;
  font-size: 18px;
}

.IngredientsEditor > ul > li > .toggle > span:first-child,
.IngredientsEditor > ul > li > .toggle > span:last-child {
  font-weight: 500;
}

.IngredientsEditor > ul > li > .toggle > .amount {
  margin: 0 8px;
  width: 34px;
  display: inline-block;
  text-align: center;
}

.IngredientsEditor > ul > li > svg {
  width: 21px;
  height: 21px;
  fill: #CC3333;
}

.IngredientsEditor > ul > li:nth-child(2n+1) {
  background: #E8E8E8;
}

.IngredientsTable {
  width: 100%;
}

.IngredientsTable > tbody > tr > td {
  width: 50%;
}

.Recipe .AdminPanel:first-child {
  margin-bottom: 16px;
}

.RecipeMethod > p {
  font-size: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 16px;
}

.RecipeMethod > p:last-child {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.AmountsEditor {
  display: flex;
  flex-direction: column;
}

.AmountsEditor > .amount {
  display: flex;
  width: 100%;
  align-items: center;
  height: 30px;
}

.AmountsEditor > .amount > label {
  flex-grow: 1;
  font-weight: 500;
}

.AmountsEditor > .amount > input {
  height: 100%;
  border-radius: 0;
  border: 1px solid #cccccc;
}

.AmountsEditor > .amount > button {
  height: 100%;
  width: 40px;
}

.AmountsEditor > .amount > button > svg {
  height: 100%;
  width: 100%;
}

body {
  max-width: 600px;
  margin: 0 auto;
}

.Home {
  padding: 16px;
}

.Home > h1 {
  font-size: 20px;
}

.Home > .date {
  font-size: 14px;
  margin-bottom: 16px;
  display: block;
}

.Home > .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.Home > .heading > h2 {
  font-size: 22px;
}

.Home > .heading > a {
  font-weight: 500;
  color: #476B2D;
}

.Home > .latest-plan {
  width: 100%;
  height: 80px;
  display: flex;
  margin-bottom: 32px;
}

.Home > .latest-plan > .date {
  width: 80px;
  height: 80px;
  background: #E3EFC7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home > .latest-plan > .date > .day {
  font-size: 20px;
  font-weight: 500;
}

.Home > .latest-plan > .date > .month {
  font-size: 16px;
}

.Home > .latest-plan > a {
  border: 1px solid #cccccc;
  text-align: center;
  margin-left: 8px;
  flex-grow: 1;
  font-size: 24px;
  font-weight: 500;
  line-height: 80px;
  color: #476B2D;
  background: white;
}

.Home > .home-option {
  display: flex;
  padding: 16px 24px;
  border: 1px solid #cccccc;
  background: white;
  margin-bottom: 8px;
  align-items: center;
}

.Home > .home-option > svg {
  width: 60px;
  height: 60px;
  fill: #476B2D;
  margin-right: 24px;
}

.Home > .home-option > .text {
  flex-grow: 1;
  width: 100%;
}

.Home > .home-option > .text > h3 {
  font-size: 20px;
  color: #476B2D;
}

.Home > .home-option > .text > p {
  font-size: 14px;
  color: #1A202C;
}

.PlanCreator > .stage > h2 {
  height: 50px;
  display: flex;
  align-items: center;
  color: #476B2D;
  font-weight: 400;
}

.PlanCreator > .stage > h2 > .number {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #8FBC8F;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  font-weight: 400;
  margin-right: 16px;
}

