.AdminContent {
    padding-top: 28px;

    > .header {
        padding: 0 21px 32px 21px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $grey-lightest;
        }

        > h1 {
            font-size: 26px;
            font-weight: 400;
            margin-bottom: 4px;
            color: $green-dark;
        }

        .heading-tag {
            font-size: 15px;
            color: $grey-mid;
            line-height: 1.25;
        }

        &.with-icon {
            display: flex;
            align-items: center;

            > a {
                z-index: 2;
                > svg {
                    height: 18px;
                    width: 18px;
                    fill: $green-dark;
                    margin-left: 16px;
                }
            }
        }
    }

    > .content {
        background: white;
        padding: 0;
        min-height: 370px;

        > .heading {
            color: $green-dark;
            font-weight: 500;
            margin-bottom: 16px;
        }

        > .OptionList {
            padding: 16px 0;
        }
    }
}
