.RecipeCreator {
    display: flex;
    flex-direction: column;
    padding: 21px;

    @include lg() {
        padding-right: 0;
    }

    > .status {
        border: 1px solid $grey-light;
        padding: 16px;
        display: flex;
        flex-direction: column;
        @include lg() {
            font-size: 14px;
            background: white;
            width: 25%;
        }

        > p {
            margin-bottom: 16px;
            text-align: right;
        }

        > .Button {
            align-self: flex-end;
        }
    }

    > .items {
        @include lg() {
            width: 47%;
            margin-right: 6%;
            margin-bottom: 16px;
        }

        > .ItemSearcher {
            margin-bottom: 16px;
        }
    }

    > .amounts {
        @include lg() {
            width: 47%;
        }

        > .ItemAmounts {
            margin-bottom: 32px;
        }
    }

    > .buttons {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        > .Button {
            margin-left: 12px;
        }
    }
}
