.ItemsAdmin {
    padding: 32px 21px;

    @include lg() {
        display: flex;
        justify-content: space-between;
        padding-right: 0;
    }

    > .ExpandableForm {
        margin-bottom: 32px;
        padding-bottom: 16px;
        border-bottom: 1px solid $grey-lightest;

        @include lg() {
            width: 45%;
            border-bottom: 0;
        }
    }

    > .locations {
        @include lg() {
            width: 50%;
        }

        > h2 {
            display: none;

            @include lg() {
                display: block;
                color: $grey-dark;
                font-size: 18px;
                margin-bottom: 16px;
                font-weight: 500;
            }
        }

        > .location {
            margin-bottom: 16px;

            @include lg() {
                border-bottom: 1px solid $grey-lightest;
            }

            &:last-child {
                margin-bottom: 0;

                @include lg() {
                    border-bottom: 0;
                }
            }

            > .header {
                display: flex;
                cursor: pointer;

                > h3 {
                    font-size: 20px;
                    color: $green-dark;
                    margin-bottom: 20px;
                    flex-grow: 1;
                }

                > svg {
                    width: 30px;
                    height: 30px;
                    fill: $green-dark;
                }
            }

            > .body {
                display: none;

                &.is-expanded {
                    display: block;
                }
            }
        }
    }
}

.ItemEditor {
    display: flex;
    margin-bottom: 6px;
    align-items: flex-start;

    > svg {
        height: 25px;
        width: 25px;
        fill: $green-dark;
        margin-left: 12px;
        cursor: pointer;

        &:last-child {
            fill: $alert;
        }

        &.is-disabled {
            opacity: .4;
        }
    }

    > .FloatingInput {
        flex-grow: 1;
        margin-top: -12px;
    }
}
