.Recipe {
    padding: 21px;

    > .header {
        display: flex;
        margin-bottom: 16px;

        > img {
            height: 300px;
            margin-right: 32px;
        }
    }

    > .heading {
        margin-bottom: 16px;
        font-weight: 500;
        color: $green-dark;
    }
}

.RecipeOutline {
    max-width: 768px;
    > p {
        font-size: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid $grey-light;
        padding-bottom: 16px;
        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.RecipeIngredients {
    margin-bottom: 16px;
    width: 100%;

    > .heading {
        margin-bottom: 16px;
        font-weight: 500;
        color: $green-dark;
    }

    > table {
        width: 100%;
        td {
            font-size: 14px;
            width: 50%;
            border-bottom: 1px dashed $grey-light;
            padding: 6px 0;

            &.secondary {
                color: $grey-mid;
            }
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }
    }
}
