.PlanCreator {

    > .stage {
        > h2 {
            height: 50px;
            display: flex;
            align-items: center;
            color: $green-dark;
            font-weight: 400;

            > .number {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: $green-mid;
                text-align: center;
                line-height: 40px;
                font-size: 22px;
                font-weight: 400;
                margin-right: 16px;
            }
        }
    }

}
